.button-products {
    background-color: #EA5253;
    padding: 12px 36px;
    border-radius: 50px;
    color: white;
    margin-top: 7px;
    margin-left: 10px;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.button-products:hover{
    background-color:white;
    color:#004AAD;
    transition: 1s;
}
